*{
	margin: 0;
	padding: 0;
}

body *{
	/*禁止用户横竖屏切换字体放大和字体设置*/
	-webkit-text-size-adjust: 100%;
	/*ios下长按禁止选中文字*/
	-webkit-user-select: none;	
}

body, html {
    font-size: 16px;
    font-family: helvetica;
    width: 100%;
    box-sizing: border-box;
}

/*定位居中*/
.middle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    color: #3e3e3e;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, input, button, textarea {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    border-radius: 0;
}

ul {
    list-style: none;
}

input {
    font-family: "SimSun", "宋体";
    outline: none;
	vertical-align: middle;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em, u {
    font-style: normal;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*元素浮动*/
.left{
	float: left;
}
.right{
	float: right;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}
